/* font UTMAzuki */
@include font-face("UTMAzuki", '../fonts/UTMAzuki/UTMAzuki');

/* font UTMCancel */
@include font-face("UTMCancel", '../fonts/UTMCancel/UTMCancel');


/* font Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=vietnamese');

// * {
//     font-family: $FRoboto;
// }

p {
    font-family: $FRoboto;
}

.txt_vertical {
    writing-mode: vertical-lr;
}

.container,
.container-fluid {
    font-family: $FRoboto;
}

@for $var from 1 to 9 {
    .fw-#{$var * 100} {
        font-weight: $var * 100 !important;
    }
}

@for $var from 10 to 50 {
    .fz-#{$var} {
        font-size: $var + px !important;
    }
}

.font-utm-azuki {
    font-family: $FAzuki
}

// text color customize

.text-or {
    color: $cl-or !important;
}

.text-82 {
    color: $cl82 !important;
}

.title_primary {
    color: $cl-or;
}

.text-black {
    color: #000;
}

.date_txt {
    color: $clBD !important;
    font-weight: 500;
    font-size: 12px;
    margin: 0;
}

.text-truncate-2 {
    padding: 4px 8px !important;
    display: -webkit-box !important;
    max-height: 56px !important;
    margin: 0 auto !important;
    font-size: 14px !important;
    line-height: 21px !important;
    -webkit-box-orient: vertical !important;
    box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -webkit-line-clamp: 2 !important;
    white-space: pre-line !important;
    margin-bottom: 0 !important;
}