// title

@mixin mx_title {

    h1,
    h2 {
        color: $cl-or !important;
        // font-size: 36px !important;
        font-weight: 600 !important;
    }

    @include screen(mobile) {

        h1,
        h2 {
            // font-size: 26px !important;
        }

        h3 {
            // font-size: 22px !important;
        }
    }
}

// set all font roboto 
@mixin f-roboto {
    *:not(i) {
        font-family: $FRoboto;
    }
}

///Fontsize

@mixin fsize($size, $base: 16) {
    font-size: $size; // fallback for old browsers
    font-size: ($size / $base) * 1rem;
}

// create div
@mixin box($width, $height: $width) {
    width: $width;
    height: $height;
}

// background image

@mixin bg_img($size: contain) {
    background-repeat: no-repeat;
    background-size: $size;
    // background-position: center center;
}

// flex

@mixin flex($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-start {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}


@mixin flex-end {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-mid-center {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

//position
@mixin position($position, $args) {
    @each $o in top right bottom left {
        $i: index($args, $o);

        @if $i and $i+1 <=length($args) and type-of(nth($args, $i + 1))==number {
            #{$o}: nth($args, $i + 1);
        }
    }

    position: $position;
}

// Positioning helpers
@mixin absolute($args: '') {
    @include position(absolute, $args);
}

@mixin fixed($args: '') {
    @include position(fixed, $args);
}

@mixin relative($args: '') {
    @include position(relative, $args);
}

//Meida query
// //Usage
// .wrapper {
// 	margin: 0 auto;
// 	width: 100%;
// 	@include screen('tablet') {
// 	  width: 90%;
// 	}

// 	@include screen('desktop') {
// 	  width: 85%;
// 	}
//   }

// @include screen('(min-width: 1367px)') {
//     width: 1280px;
//   }

@mixin screen($size) {
    $desktop: "(min-width: 992px)";
    $skipMobile: "(min-width: 768px)";
    $tablet: "(max-width: 991px)";
    $mobile: "(max-width: 767px)";

    @if $size==desktop {
        @media only screen and #{$desktop} {
            @content;
        }
    }

    @else if $size==tablet {
        @media only screen and #{$tablet} {
            @content;
        }
    }

    @else if $size==mobile {
        @media only screen and #{$mobile} {
            @content;
        }
    }

    @else if $size==skipMobile {
        @media only screen and #{$skipMobile} {
            @content;
        }
    }

    @else {
        @media only screen and #{$size} {
            @content;
        }
    }
}


// Keyframe
// @include keyframes(animate) {
// 	50% {
// 	  transform: rotate(90deg);
// 	}
// 	100% {
// 	  transform: rotate(-90deg);
// 	}
//   }
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

//Background gradient
// .gradient {
//     @include gradient(#07c, #06f, vertical);
// }

@mixin gradient($start-color, $end-color, $orientation) {
    background: $start-color;

    @if $orientation=='vertical' {
        background: -webkit-linear-gradient(top, $start-color, $end-color);
        background: linear-gradient(to bottom, $start-color, $end-color);
    }

    @else if $orientation=='horizontal' {
        background: -webkit-linear-gradient(left, $start-color, $end-color);
        background: linear-gradient(to right, $start-color, $end-color);
    }

    @else {
        background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
        background: radial-gradient(ellipse at center, $start-color, $end-color);
    }
}

//Fontface

// @include font-face("MyFont", "path/to/MyFont", $style: normal, $weight: normal);

@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
    @font-face {
        font-family: quote($font-name);
        src: url($file-name + '.eot');
        src: url($file-name + '.eot?#iefix') format('embedded-opentype'),
        url($file-name + '.woff') format('woff'),
        url($file-name + '.ttf') format('truetype'),
        url($file-name + '.svg##{$font-name}') format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}


//Center block

@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

//center vertically

@mixin center-vertically {
    position: absolute;
    top: 50%;
    left: 50%;
    @include prefix(transform, translate(-50%, -50%), 'webkit''ms');
}

@mixin hide-scrollbar {
    &::-webkit-scrollbar {
        display: none !important;
    }
}