// FOnt
$FAzuki: 'UTMAzuki', serif !important;
$FCancel: 'UTMCancel', sans-serif !important;
$FRoboto:  'Roboto', sans-serif ;


// Color

$cl-black: #0D0001;
$cl-or: #F15922;
$clw: #FFFFFF;
$cl33: #333333;
$cl82: #828282;
$clE0: #E0E0E0;
$clBD: #BDBDBD;
$clF0: #f0f0f0;
$cl-yellow: #FFCA07;