.account_info {
    @include mx_title;
    * p,
    * a {
        margin-bottom: 0 !important;
    }

    button {
        font-family: $FRoboto !important;
    }

    .card-header {
        border-bottom: none !important;

        &::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: '\f077' !important;
            float: right;
        }

        h5 {
            float: left !important;
        }

    }

    .collapsed {
        &::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: '\f078' !important;
            float: right;
            color: $cl82;
        }
    }


    .collapse {
        clear: both !important;
    }

    li {
        @include flex-between;

        p {
            font-size: 14px;
            line-height: 130% !important;
            font-weight: 500 !important;

            &:first-child {
                color: $cl82 !important;
            }

            &:last-child {
                color: #270104 !important;
            }
        }


    }
}

.code_pro {
    @include screen(mobile) {
        max-width: 100vw;
    }
}

.alert_custom {
    max-height: 300px;
    overflow-y: auto;
}