.contact {
    @include f_roboto;
    @include mx_title;

    p {
        margin-bottom: 0;
        line-height: 26px;
    }

    // .row {
    //     &>div {
    //         padding: 16px;
    //     }
    // }

    .prefix {
        width: 24px;
        height: 25.6px;
        background-image: url('../images/icons/prefix.png');
        @include bg_img;
        margin-right: 20px;
        flex: 0 0 auto;
    }

    .txt {
        flex: 1 1 auto;
    }

}

@media (min-width: 576px) {
    .contact .card-columns {
        column-count: 2;
    }
}