.quote {

    @include bg_img(auto);
    background-image: url('../images/icons/quote.png');
    background-position: 95% bottom !important;

    p {
        margin-bottom: 0.5rem;
    }
}


.author {
    color: $cl-or;
    font-weight: 600;
    font-size: 24px;
}

.famous {
    @include mx_title;

    .row {
        .col-md-6:not(:first-child) {
            @include screen('(min-width: 480x)') {
                margin-top: 24px !important;
            }
        }

        &:nth-child(even) {
            @include screen(mobile) {
                display: flex !important;
                flex-direction: column-reverse !important;
            }
        }

        &>div {
            padding: 20px !important;
        }
    }
}