$heightLayout: 100%;

@include screen(mobile) {
    // .txt_countdown {
    //     text-align: center;

    //     p {
    //         font-size: 22px;

    //     }
    // }

    .title_block {
        font-size: 26px !important;
        text-align: center;
    }

    // .count_down_timer {
    //     padding-bottom: 20px;
    //     @include flex-center;
    //     padding-right: 0;
    //     padding-left: 0;
    // }
}

@include screen(skipMobile) {
    // .txt_countdown {
    //     text-align: right;
    //     padding-bottom: 10px;

    //     p {
    //         font-size: 2.1vw;
    //     }
    // }

    // .count_down_timer {
    //     padding-bottom: 12px;
    //     padding-top: 20px;
    // }

    .title_block {
        font-size: 48px;
    }
}


.home_left {
    @include box(100%, $heightLayout);
    position: relative;

    .title {
        display: flex;
        padding: 24px 0 0 25px;
        justify-content: space-around;
        align-items: center;

        p {
            font-family: $FCancel;
            font-size: 28px;
            line-height: 28px;
            color: $cl-yellow;
        }
    }
}

h1.text-or {
    font-weight: 700
}

.user-not-login .btn {
    text-transform: uppercase;
}

.user-not-login .btn-outline-light {
    border-width: 2px;
    border-color: #fff;
    color: #fff;
    text-shadow: 0 0 0 #fff
}

.user-not-login .btn-outline-light:hover {
    color: #000;
    text-shadow: 0 0 0 #000;
    background-color: #fff;
}

.user-not-login .btn-light {
    border-width: 2px;
    border-color: #fff;
    color: #000;
    text-shadow: 0 0 0 #000;
    background-color: #fff;
}

.user-not-login .btn-light:hover {
    background-color: transparent;
    color: #fff;
    text-shadow: 0 0 0 #fff;
}

.user-logged span {
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 5px;
    color: #fff
}

.menu-toggle a {
    color: #fff
}

.bd-3 {
    border: 3px solid $cl-or;
    background-color: #fff;
}

.reveal {
    position: relative;
}

.reveal p,
.reveal_title {
    font-family: $FAzuki;
}

.reveal_title {
    font-size: 30px;
}

.reveal p {
    font-size: 20px;
    line-height: 22px
}

.reveal p span {
    color: $cl-or
}

.reveal .media {
    background-color: #fff;


}

.reveal .media>div {
    z-index: 99;
}

.reveal_f {
    background-color: $cl-or;
    position: relative;
    top: -35px;
}

.reveal_f a {
    color: #fff;

}

.reveal_f a:hover {
    opacity: 0.85;
    color: #fff;
    text-decoration: none
}

.other-products_desc,
.other-products_title {
    height: 38px;
}

.other-products_title {
    text-transform: uppercase;
    font-weight: 500;
    color: $cl-or;

}


.other-products_img {
    min-height: 152px;
}


.keno {
    @include bg_img(cover);
    background-image: url('../images/home/choi-thu-trung-that.png');
}

.action {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 24px;
}

.btn-play {
    display: flex;
    align-self: center;
    justify-content: center;
}

.play-hit {
    border: 4px dashed $cl-or;
}

.play-hit a {
    background-image: url('../images/home/choi-thu-trung-that-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.rules-trial-play {
    position: relative;
}

.rules-trial-play:after {
    position: absolute;
    background-image: url(../images/home/god-keno.png);
    background-repeat: no-repeat;
    background-position: center right;
    content: "";
    right: 15px;
    top: 111px;
    width: 110px;
    height: 120px;
    background-size: contain;
}

.rules-trial-play_title {
    position: relative;
    color: #fff;
    font-family: $FCancel;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    margin: 0;
    z-index: 0;
}

.rules-trial-play_title:before {
    content: "";
    position: absolute;
    top: -1px;
    right: 0;
    left: 0;
    background-color: $cl-or;
    -webkit-clip-path: polygon(0 0, 100% 0, 93% 100%, 7% 100%);
    clip-path: polygon(0 0, 100% 0, 93% 100%, 7% 100%);
    height: 93px;
    z-index: -1;
}

.rules-trial-play_title:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid $cl-or;
    bottom: -10px;
    position: absolute;
    right: 70px;
}

.rules-trial-play_title::before {
    content: "";
}

.entertainment_title,
.question_title {
    background-color: $cl-or;
    color: #fff;
    margin: 0;
}

.entertainment_items {
    overflow-x: auto;
    max-width: 2000px;
}

.question .accordion {
    max-height: 322px;
    overflow: auto;
    margin-right: -1rem;
}

.question .card {
    border: 0 none;
    margin-right: 1rem;
}

.question .card .btn-link {
    color: #000;
    text-shadow: 0 0 0 #000;
    text-align: left;
    position: relative;
}

.question .card .btn-link:hover {
    text-decoration: none;
    color: $cl-or;
}

.question .card .btn-link .fa {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
    color: #666
}

.question .card+.card {
    border-top: 1px solid #BDBDBD !important
}

.question .card-header {
    background-color: #fff;
    border: 0 none
}

.social-m .btn-keno {
    text-align: left;
    padding-left: 25px;
}

// .social-m .btn-keno {
//     background: linear-gradient(180deg, #F7A051 0%, #F25822 100%);
//     border-radius: 0
// }

.home_right {
    @include box(100%, $heightLayout);
    position: relative;

    .elipse {
        height: 155px;
        background-image: url(../images/home/elipse-box.png);
        background-position: -23px -20px;
        background-size: 114%;
        background-repeat: no-repeat;
        font-family: "UTMCancel", sans-serif !important;
        display: flex;
        align-items: flex-start;
        padding-top: 10px;
        justify-content: center;
        font-size: 33px;
        color: #FFCA07;
    }
}

.keno-right {
    @include bg_img(cover);
    background-image: url('../images/home/xo-so-keno.png');
}


.tip_caption {
    position: relative;
    background: $clw;
    padding: 8px;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    bottom: 16px;

    &:after,
    &:before {
        bottom: 99%;
        left: 30px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    &:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: $clw;
        border-width: 16px;
        margin-left: -16px;
    }

    &:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: $clw;
        border-width: 16px;
        margin-left: -16px;
    }
}

.slider_home {
    .carousel-caption {
        bottom: 52px !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .carousel-indicators {
        justify-content: flex-start !important;
        bottom: 16px !important;
        left: -28px !important;
    }

    .link_more {
        text-transform: uppercase;
        font-weight: 500;
        color: $clw;
        font-family: $FCancel;
        position: absolute;
        right: -28px;
        font-size: 12px;
        line-height: 12px;
        cursor: pointer;
        bottom: -12px !important;
    }
}


.count_down {
    background-color: $cl-or;

    &>* {
        font-family: $FRoboto;
    }

    &_title {
        color: #fff;
        font-weight: bold;
        font-size: 24px;
        margin: 0;
    }

    $flipper_color1: #fff;
    $flipper_color2: #333;
    $digit_flip_time: .400s;
    $digit_face_radius: 0.1em;
    $digit_face_padding_x: 0.2em;
    $digit_face_padding_y: 0.1em;
    $digit_height: 1em+$digit_face_padding_y * 2;

    .flipper {
        color: $flipper_color2;
        display: block;
        font-size: 50px;
        line-height: 100%;
        padding: 0;
        margin: 0;
        height: $digit_height + .5em;

        font-weight: 500;

        &.flipper-invisible {
            font-size: 0px !important;
        }
    }

    .flipper-group {
        position: relative;
        white-space: nowrap;
        display: block;
        float: left;
        padding: 0 7px;
        margin: 0;

        label {
            position: absolute;
            color: #fff;
            font-size: 14px;
            top: 100%;
            line-height: 1em;
            left: 50%;
            transform: translate(-50%, 0);
            text-align: center;
            padding-top: .5em;
        }
    }

    .flipper-digit {
        white-space: nowrap;
        position: relative;
        padding: 0;
        margin: 0;
        display: inline-block;
        float: left;
        height: $digit_height;
        overflow-y: hidden;

        span {
            font-size: 25%;
        }
    }

    .flipper-delimiter {
        white-space: nowrap;
        display: block;
        float: left;
        padding: 0;
        margin: 0;
        color: $flipper_color1;
        min-width: .15em;
        white-space: nowrap;
        display: block;
        padding-top: $digit_face_padding_y;
        padding-bottom: $digit_face_padding_y;
        line-height: 1em;
    }

    .digit-face {
        display: block;
        visibility: hidden;
        position: relative;
        border-radius: $digit_face_radius;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 8;
        padding-top: $digit_face_padding_y;
        padding-bottom: $digit_face_padding_y;
        padding-left: $digit_face_padding_x;
        padding-right: $digit_face_padding_x;
        box-sizing: border-box;
        text-align: center;
    }

    .digit-next {
        display: block;
        position: relative;
        border-radius: $digit_face_radius;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 8;
        height: $digit_height;
        background: $flipper_color1;
        padding-top: $digit_face_padding_y;
        padding-bottom: $digit_face_padding_y;
        padding-left: $digit_face_padding_x;
        padding-right: $digit_face_padding_x;
        box-sizing: border-box;
        text-align: center;
        user-select: none;
    }

    .digit-top {
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        height: 50%;
        backface-visibility: hidden;
        pointer-events: none;
        overflow: hidden;
        position: absolute;
        background: $flipper_color1;
        padding-top: $digit_face_padding_y;
        padding-bottom: 0;
        padding-left: $digit_face_padding_x;
        padding-right: $digit_face_padding_x;
        border-top-left-radius: $digit_face_radius;
        border-top-right-radius: $digit_face_radius;
        box-sizing: border-box;
        text-align: center;
        user-select: none;
        transition: transform 0s linear,
            background 0s linear;
        transform-origin: 0 ($digit_height/2) 0 !important;
        transform-style: preserve-3d !important;
        z-index: 20;

        &.r {
            transition: transform ($digit_flip_time/2) linear,
                background ($digit_flip_time/2) linear;
            transform: rotateX(90deg);
            background: darken($flipper_color1, 20%);
        }
    }

    .digit-top2 {
        visibility: hidden;
        position: absolute;
        height: 50%;
        left: 0;
        right: 0;
        background: darken($flipper_color1, 20%);
        transition: transform ($digit_flip_time/2) linear;
        line-height: 0em !important;
        top: 50% !important;
        bottom: auto !important;
        padding-top: 0;
        padding-bottom: $digit_face_padding_y;
        padding-left: $digit_face_padding_x;
        padding-right: $digit_face_padding_x;
        border-bottom-left-radius: $digit_face_radius;
        border-bottom-right-radius: $digit_face_radius;
        overflow: hidden;
        text-align: center;
        user-select: none;
        transition: transform 0s linear,
            background 0s linear;
        transform: rotateX(-90deg);
        transform-style: preserve-3d !important;
        transform-origin: 0 0 0 !important;
        z-index: 20;

        &.r {
            visibility: visible;
            transition: transform ($digit_flip_time/2) linear ($digit_flip_time/2),
                background ($digit_flip_time/2) linear ($digit_flip_time/2);
            transform: rotateX(0deg);
            background: $flipper_color1;
        }
    }

    .digit-bottom {
        backface-visibility: hidden;
        pointer-events: none;
        position: absolute;
        overflow: hidden;
        background: #fff;
        height: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9;
        line-height: 0em;
        padding-top: 0;
        padding-bottom: $digit_face_padding_y;
        padding-left: $digit_face_padding_x;
        padding-right: $digit_face_padding_x;
        border-bottom-left-radius: $digit_face_radius;
        border-bottom-right-radius: $digit_face_radius;
        box-sizing: border-box;
        text-align: center;
        transition: none;

        &.r {
            transition: background ($digit_flip_time/2) linear;
            background: darken($flipper_color1, 20%);
        }
    }

    // .flipper-digit:after {
    //     content: "";
    //     position: absolute;
    //     height: 2px;
    //     background: rgba(0, 0, 0, 0.5);
    //     top: 50%;
    //     display: block;
    //     z-index: 30;
    //     left: 0;
    //     right: 0;
    // }

    .flipper-dark {
        color: $flipper_color1;

        .flipper-delimiter {
            color: $flipper_color2;
        }

        .digit-next {
            background: $flipper_color2;
        }

        .digit-top {
            background: $flipper_color2;

            &.r {
                background: darken($flipper_color2, 20%);
            }
        }

        .digit-top2 {
            background: darken($flipper_color2, 20%);

            &.r {
                background: $flipper_color2;
            }
        }

        .digit-bottom {
            background: $flipper_color2;
        }
    }

    .flipper-dark-labels {
        .flipper-group {
            label {
                color: $flipper_color2;
            }
        }
    }
}

.map_picker {
    .title_map {
        font-size: 16px;
        background-color: $cl-or;
        color: $clw;
        font-weight: 500;
        line-height: 45px;
        padding: 0 16px;
    }

    .map_mobile {
        display: none;

        @include screen(mobile) {
            display: block;
        }
    }

    .map_desktop {
        display: none;

        @include screen(skipMobile) {
            display: block;
        }
    }

    .result {
        ul {
            max-height: 300px;
            overflow: auto;
        }

        li:not(:first-child) {
            margin-top: 20px;
        }
    }
}

@include screen(desktop) {
    .count_down_title {
        font-size: 28px;
    }
}

@include screen(skipMobile) {
    .count_down_title {
        line-height: 30px;
    }
}

@include screen(mobile) {
    .other-products h1 {
        font-size: 30px;
    }

    .count_down_title {
        font-size: 14px;
    }

    .other-products_title {
        font-size: 12px;
    }

    .other-products_desc,
    .other-products_title {
        height: auto;
    }

    .other-products_img {
        min-height: 92px;
    }

    .layout-fixleft {
        display: none;
    }

    .sale-point {
        border: 3px solid $cl-or;
        background-color: #fff;
    }

    .play-now {
        border: 3px dashed $cl-or
    }

    .sale-point .bd-3,
    .play-now .bd-3 {
        border: 0 none
    }

    h1.text-or {
        font-size: 24px;
    }

    h2.text-or {
        font-size: 20px;
    }

    .reveal_title {
        font-size: 20px;
    }

    .reveal p {
        font-size: 16px;
    }

    .rules-trial-play_title:before {
        height: 73px;
    }

    .rules-trial-play_title {
        font-size: 22px;
    }

    .user-logged span {
        font-size: 14px;
    }
}