.other_products {
    // @include f_roboto;
    // @include mx_title;

    .image_box {
        @include flex-center;
    }

    .table {
        margin-bottom: 1.5rem;
        color: #212529;
        border-bottom: 1px solid #dee2e6;
    }

    .table .thead-dark th {
        background-color: $cl-or;
        border-color: $cl-or;
    }

    .table-bao .thead-dark th {
        font-size: 24px;
    }

    &-header{
        background-image: url(../images/products/banner.png);
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
    }

}