.partner {
    @include mx_title;
    @include f-roboto;

    .type_partner {
        font-size: 20px;
        line-height: 120%;
        color: $cl-or;
        font-weight: 600;
    }

    .title_partner {
        font-size: 24px;
        line-height: 35px;
        color: $cl33;
        font-weight: bold;
        margin-top: 16px;
    }

    .link_partner {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: $cl82;
    }

    .item_partner {
        flex: 1 1 auto;
    }

    @include screen(mobile) {

        .title_partner {
            font-size: 20px;
            line-height: 130%
        }
    }
}