.responsibility {
    // .btn-load-more

    .card-title {
        color: $cl33 !important;
        font-size: 20px;
        font-weight: 600;
    }

    // .card-text {
    //     font-size: 14px !important;
    //     line-height: 140%;
    // }



    // .row {
    //     &>div {
    //         margin-top: 24px;
    //     }
    // }

    //detail
    // img {
    //     max-width: 100%;
    //     height: auto;
    //     margin-bottom: 24px;
    // }


    // h3 {
    //     font-size: 20px !important;
    // }

    // ol {
    //     padding-left: 40px !important;
    // }

    // ol li {
    //     list-style-type: decimal !important;
    // }


    .related-news {
        .card {
            flex-direction: row;
            align-items: center;
            display: flex;
            background-color: transparent !important;
            border: none !important;

            .card-body {
                padding: 0 0 0 15px !important;
            }

            .card-title {
                font-size: 14px !important;
                color: $cl33 !important;
            }

            p:last-child {
                margin-bottom: 0 !important;
            }

            img {
                margin-bottom: 0 !important;
            }

            &:not(:first-child) {
                margin-top: 16px;
            }

            div:first-child {
                flex: 0 0 40% !important;
            }
        }
    }

    .card-columns .card {
        margin-bottom: 1.2rem;
    }

    @media (min-width: 576px) {
        .card-columns {
            column-count: 2;
        }
    }

    @include screen(desktop) {
        .card-columns {
            column-count: 3;
        }
    }

}