.rulers {
    @include f-roboto;

    @include mx-title;

    &::-webkit-scrollbar {
        display: none !important;
    }

    .content_rule {
        font-size: 16px;
        overflow-y: auto !important;
        &::-webkit-scrollbar {
            display: none !important;
        }
    }

    .list-group {

        .list-group-item {
            margin-top: 10px !important;
            padding-top: 8px !important;
            padding-bottom: 8px !important;
            border: none !important;
            text-align: center !important;
            font-size: 16px !important;
            line-height: 18px !important;
            color: $cl82;
            border-radius: .25rem !important;
        }


        .active {
            color: $clw !important;
            background-color: $cl-or !important;
        }
    }

    // p {
    //     margin-bottom: 0.125rem !important;
    // }

    h3 {
        margin: 16px 0;
    }

    .txt_strong {
        font-weight: 600;
        color: $cl-or;
    }

    h4 {
        font-size: 20px;
    }

    // img {
    //     margin: 10px 0 !important;
    // }

    .card {
        padding: 8px 20px !important;
        border: none !important;
        border-radius: 0 !important;

        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    .card-header {
        border-bottom: none !important;
        background-color: $clw !important;
        font-size: 16px !important;

        &::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: '\f077' !important;
            float: right;
            color: $cl82;
        }

        h5 {
            float: left !important;
            font-size: 16px !important;
        }

    }

    .collapsed {
        &::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: '\f078' !important;
            float: right;
        }
    }


    .collapse {
        clear: both !important;
    }

}