footer {
    @include bg_img(cover);
    background-image: url('../images/common/bg_footer.png');
    font-family: $FRoboto !important;
    padding: 24px 0;
    position: relative;

    // @include screen(mobile) {
    //     margin-top: 180px;
    // }

    hr {
        border-top: 2px solid rgba(255, 255, 255, 0.1);
    }

    ul {
        // margin-top: 24px;
        // padding: 0 !important;
        // display: flex;
        // align-items: center;
        // justify-content: center;

        li {

            // &:not(:last-child) {
            //     margin-right: 16px !important;
            // }

            a {
                font-size: 14px;

                color: $clw;
                // font-weight: 500;
            }

            a:hover {
                text-shadow: 0 0 0 #fff;
                color: #fff;
                text-decoration: none
            }
        }
    }

    .txt_footer {
        &:last-child {
            text-align: right;

            @include screen(mobile) {
                text-align: left;
                margin-top: 12px;
            }
        }

        p {
            color: $clw;
            font-size: 12px;
            line-height: 19px;
            margin: 0 !important;
        }
    }

    .box_footer {
        @include box(100%);
        background-color: $clw;
        border-radius: 8px;
        // text-align: center;
        // padding: 8px 12px;
        height: 100px;

        // @include screen(mobile) {
        //     margin-top: 12px;
        // }


        // &:first-child {
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-between;
        // }

        p {
            margin-bottom: 0;
            text-shadow: 0 0 0 #000;
            font-size: 13px
        }

        p.text-or {
            text-shadow: 0 0 0 $cl-or
        }

        // img {
        //     margin-bottom: 12px;
        // }

        .title_organize {
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
        }

        .line {
            @include flex-mid-center;
            font-size: 14px;
            font-weight: 500;
        }

        .image_prefix {
            @include box(30px);
            @include bg_img;
            margin-right: 9px;

        }

        .img_18 {
            background-image: url('../images/common/18.png');
        }

        .img_secu {
            background-image: url('../images/home/security.png');
        }
    }



}

.layout-fixleft {
    position: fixed;
    top: 20%;
    z-index: 9999;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    &:hover {
        .tip_fixed {
            display: flex;
        }
    }

    .tip_fixed {
        display: none;
        background: $clw;
        padding: 8px;
        color: rgba(0, 0, 0, 0.87);
        text-align: left;
        font-weight: 500;
        font-size: 12px;
        position: absolute;
        border-radius: 5px;
        padding: 16px 12px;
        top: 12px;
        right: 90px;

        &:after,
        &:before {
            left: 104%;
            top: 40%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: rgba(136, 183, 213, 0);
            border-left-color: $clw;
            border-width: 8px;
            margin-left: -8px;
        }

        &:before {
            border-color: rgba(194, 225, 245, 0);
            border-left-color: $clw;
            border-width: 8px;
            margin-left: -8px;
        }

        .icon_award {
            @include box(30px);
            @include bg_img;
            background-image: url('../images//icons/award.png');
        }

        .txt_award {
            width: 100px;
            font-family: $FAzuki;
            font-size: 22px;
            line-height: 27px;
        }
    }

    .god_fixed {
        width: 70px;

        @include screen(mobile) {
            width: 54px;
        }
    }

    .btn-fixed {
        background: linear-gradient(180deg, #F7A051 0%, #F25822 100%);
        color: $clw;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }

    .btn-call {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px 0px 0px 5px !important;
    }

    .btn-location {
        width: 40px;
        height: 125px;
        font-size: 14px;
        line-height: 14px;
        border-radius: 0px 5px 5px 0px !important;
        transform: rotate(180deg);

        i {
            transform: rotate(90deg);
        }
    }
}