.search_input {
    background-color: $clE0 !important;
    padding-right: 48px !important;

    @include screen(desktop) {
        width: 600px;
    }

    @include screen(tablet) {
        width: 450px;
    }

    @include screen(mobile) {
        width: 450px;
    }
}

.menu_top {
    position: sticky !important;
    top: 0;
    // padding: 15px 30px !important;
    z-index: 999;

    #menu-toggle {
        display: none;
    }

    .menu_left {
        padding: 0 !important;
        justify-content: flex-end;
    }

    .lg-primary {
        display: none;
        width: 52px;
        margin-right: 12px;

    }

    .lg-vietlote {

        @include screen('(min-width: 1280px)') {
            display: block;
        }

        @include screen('(max-width: 1279px)') {
            display: none;
        }
    }

    @include screen(tablet) {
        flex-direction: column-reverse;
        // padding: 8px !important;

        @include screen(tablet) {
            #menu-toggle {
                display: block;
                // font-size: xx-large;
            }
        }

        .lg-primary {
            display: block;
        }

        .btn-login {
            margin-right: 0 !important;
        }

        .btn-login,
        .btn-signup {
            font-size: 14px !important;
            width: 80px;
            padding: 6px 0;
        }

        .menu_left {
            padding: 0 !important;
            justify-content: space-between !important;
        }

        .search_box {
            padding: 0 !important;
        }
    }

    .alert_count {
        position: absolute;
        font-size: 8px;
        width: 16px;
        height: 16px;
        text-align: center;
        right: -4px;
        top: -5px;
        border-radius: 50%;
        color: #FFF;
        line-height: 16px;
        background-color: $cl-or;
    }

    .fa-bell {
        position: relative !important;
    }

}

.search_box {
    @include flex-center;
}