#sidebar-wrapper {
    // overflow: auto;
    // margin-left: -17rem;
    // -webkit-transition: margin .25s ease-out;
    // -moz-transition: margin .25s ease-out;
    // -o-transition: margin .25s ease-out;
    // transition: margin .25s ease-out;
    position: fixed;
    background-color: $cl-black !important;
    width: 250px;
    bottom: 0;
    top: 0;
    .list-group-item {
        background-color: transparent !important;
        font-family: $FCancel;
        padding: 0 22px !important;
        line-height: 50px !important;
        letter-spacing: 0.02em !important;
        white-space: nowrap;

        &:hover {
            background-color: $cl-or !important;
            transition: all ease-in 0.3s;
        }
    }

    .menu-active {
        background-color: $cl-or !important;
    }
}

// #sidebar-wrapper .sidebar-heading {
//     padding: 30px 53px;
//     font-size: 1.2rem;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// #sidebar-wrapper .list-group {
//     width: 15rem;
// }

// #page-content-wrapper {

//     @include screen(mobile) {
//         width: 100%;
//     }
// }
.toggled .menu-right-overlay {
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    z-index: 999
}

// #wrapper.toggled #sidebar-wrapper {
//     margin-left: 0;
// }

@media (min-width: 992px) {
    // #sidebar-wrapper {
    //     margin-left: 0;
    // }

    #page-content-wrapper {
        // min-width: 0;
        width: 100%;
        padding-left: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -18rem;
    }
}

.social {
    padding-left: 22px;
    margin-top: 22px;
    padding-bottom: 30px;
    position: initial;

    img {
        cursor: pointer;
    }

    &>div:not(:last-child) {
        margin-right: 16px;
    }
}


.tip {
    position: relative;
    display: none;
    background: $clw;
    padding: 8px;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    position: absolute;
    border-radius: 5px;
    padding: 11px;
    bottom: 42px;
    z-index: 9;

    &:after,
    &:before {
        top: 99%;
        left: 30px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    &:after {
        border-color: rgba(136, 183, 213, 0);
        border-top-color: $clw;
        border-width: 8px;
        margin-left: -8px;
    }

    &:before {
        border-color: rgba(194, 225, 245, 0);
        border-top-color: $clw;
        border-width: 8px;
        margin-left: -8px;
    }

}

.txt_speak {
    background-color: $clw !important;
    width: 130px;
}

.tip-fb {
    left: 15px;
}

.tip-zalo {
    left: 60px;
}

.tip-youtube {
    left: 105px;
}

.icon_speak {
    background-image: url('../images/icons/speaker.png');
}

.icon_tip {
    @include box(27px);
    @include bg_img;
    margin-right: 12px;
}

.icon_fb:hover {
    .tip-fb {
        display: flex;
    }
}

.icon_zalo:hover {
    .tip-zalo {
        display: flex;
    }
}

.icon_youtube:hover {
    .tip-youtube {
        display: flex;
    }
}

@media (max-width: 991px) {
    .offcanvas-collapse {
        // position: fixed;
        // top: 0;
        /* Height of navbar */
        // bottom: 0;
        right: 100%;
        width: 250px;
        overflow-y: auto;
        visibility: hidden;
        background-color: #343a40;
        transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
        z-index: 99999;
    }

    .offcanvas-collapse.open {
        visibility: visible;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    .offcanvas-collapse img {
        max-width: 100px;
    }
}